<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="underslider-categories">
            <a href="#" class="underslider-categories--category-item category-item-full_size" data-mobile_background="./assets/cat-1-m.png" data-desktop_background="./assets/cat-1-lg.png" style="background-image: url('./assets/cat-1-m.png')">
                <div class="category-item-full_size--data">
                    <div class="category-item-full_size--data_title"><span>Новая акция</span></div>
                    <div class="category-item-full_size--data_description">
                        <p>Все подробности, все<br/> подробности, все подробности</p>
                    </div>
                    <div class="category-item-full_size--data_actions">
                        <div class="category-item-full_size--data_actions-link">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                <path d="M1.25464 9L4.6001 5L1.25464 1" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="underslider-categories--category-item" data-mobile_background="./assets/cat-2-m.png" data-desktop_background="./assets/cat-2-lg.png" style="background-image: url('./assets/cat-2-m.png')">
                <div class="underslider-categories--category-item--data">
                    <div class="underslider-categories--category-item--data_title"><span>Новая акция с текстом<br/>в две строки</span></div>
                </div>
            </a>
            <a href="#" class="underslider-categories--category-item" data-mobile_background="./assets/cat-3-m.png" data-desktop_background="./assets/cat-3-lg.png" style="background-image: url('./assets/cat-3-m.png')">
                <div class="underslider-categories--category-item--data">
                    <div class="underslider-categories--category-item--data_title"><span>Новая акция</span></div>
                </div>
            </a>
            <a href="#" class="underslider-categories--category-item" data-mobile_background="./assets/cat-4-m.png" data-desktop_background="./assets/cat-4-lg.png" style="background-image: url('./assets/cat-4-m.png')">
                <div class="underslider-categories--category-item--data">
                    <div class="underslider-categories--category-item--data_title"><span>Новая акция</span></div>
                </div>
            </a>
        </div>
    </div>

    <script src="scripts/scripts.js"></script>
</body>
</html>