<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="brands__list">
                <div class="brands__list--item">
                    <img src="./assets/logo-1.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-1.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-2.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-2.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-3.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-3.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-4.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-4.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-5.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-5.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-6.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-6.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
                <div class="brands__list--item">
                    <img src="./assets/logo-7.png" alt= "Логотип 1" draggable="false">
                    <img src="./assets/logo-7.png" class="hover" alt= "Логотип 1" draggable="false">
                </div>
            </div>
        </div>
    </main>
</body>
</html>