<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div style="background-color: #F5AAC1; position: relative;">
        <div class="feedback__form--background__elements">
            <div class="feedback__form--background__element">
                <img src="../../components/brands/feedback-form/assets/bg-el.png" alt="">
            </div>
            <div class="feedback__form--background__element desktop">
                <img src="../../components/brands/feedback-form/assets/bg-el-desktop.png" alt="">
            </div>
        </div>
        <div class="container">
            <div class="feedback__form">
                <div class="feedback__form--form_wrapper">
                    <div class="feedback__form--form_title">
                        <span>Оставьте заявку и&nbsp;с&nbsp;вами свяжутся в&nbsp;течении пары минут</span>
                    </div>
                    <div class="feedback__form--form">
                        <div class="feedback__form--form--item">
                            <input class="feedback__form--form--item_name" type="text" placeholder="Имя" />
                        </div>
                        <div class="feedback__form--form--item">
                            <input class="feedback__form--form--item_email" type="text" placeholder="E-mail" />
                        </div>
                        <div class="feedback__form--form--item">
                            <input class="feedback__form--form--item_tel" type="text" placeholder="Телефон" />
                        </div>
                        <div class="feedback__form--form--item textarea">
                            <textarea class="feedback__form--form--item_message" placeholder="Ваше сообщение"></textarea>
                        </div>

                        <div class="feedback__form--form--action_item">
                            <button id="feedback__form-SendForm" class="feedback__form--form--action_item--send_form">Оставить заявку</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>