<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div style="background-color: #FCC233;">
        <div class="container">
            <div class="feedback-banner">
                <div class="feedback-banner--bg-elements">
                    <img class="feedback-banner--bg-elements--item" src="./assets/bg-item.png" alt="">
                    <img class="feedback-banner--bg-elements--item mobile" src="./assets/bg-item-mobile.png" alt="">
                </div>
                <div class="feedback-banner-data">
                    <div class="feedback-banner-data--title">
                        <span>
                            Оставьте заявку и&nbsp;с&nbsp;вами свяжутся в&nbsp;течении пары минут
                        </span>
                    </div>
                    <button class="feedback-banner-data--action-btn">
                        Оставить заявку
                    </button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>