<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <main>
        <style>
            .discounts--item:nth-child(1){
                background-color: #744A9E;
            }
            .discounts--item:nth-child(2){
                background-color: #FBB040;
            }
            .discounts--item:nth-child(3){
                background-color: #57B0EA;
            }
            .discounts--item:nth-child(4){
                background-color: #EF4A85;
            }
        </style>
        <div class="container">
            <div id="discounts" class="discounts">
                <div class="discounts--item">
                    <div class="discounts--item_image">
                        <img src="./assets/item-1.png" alt="Система скидок для рекламных агентов">
                    </div>
                    <div class="discounts--item_title">
                        <span>Система скидок для&nbsp;рекламных&nbsp;агентов</span>
                    </div>
                </div>
                <div class="discounts--item">
                    <div class="discounts--item_image">
                        <img src="./assets/item-2.png" alt="Всем новым клиентам">
                    </div>
                    <div class="discounts--item_title">
                        <span>Всем новым<br/>клиентам</span>
                    </div>
                </div>
                <div class="discounts--item">
                    <div class="discounts--item_image">
                        <img src="./assets/item-3.png" alt="Скидки для конечных покупателей">
                    </div>
                    <div class="discounts--item_title">
                        <span>Скидки для конечных покупателей</span>
                    </div>
                </div>
                <div class="discounts--item">
                    <div class="discounts--item_image">
                        <img src="./assets/item-4.png" alt="На предзаказ YOLIBA скидка 2%">
                    </div>
                    <div class="discounts--item_title">
                        <span>На предзаказ YOLIBA скидка 2%</span>
                        <p>при предоплате 50%</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>