<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../styles/template.css">

    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
<main>
    <div class="container">
        <style>
            .how_to_request--item:nth-child(1)::before{
                content: "01";
            }
            .how_to_request--item:nth-child(2)::before{
                content: "02";
            }
            .how_to_request--item:nth-child(3)::before{
                content: "03";
            }
            .how_to_request--item:nth-child(4)::before{
                content: "04";
            }
            .how_to_request--item:nth-child(5)::before{
                content: "05";
            }
            .how_to_request--item:nth-child(6)::before{
                content: "06";
            }
        </style>
        <div class="how_to_request">
            <div class="how_to_request--item">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-1.png" alt="Выбор товара">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Выбор товара</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>Выберите товар, укажите нужный тираж и&nbsp;сделайте заказ через&nbsp;корзину</p>
                </div>
            </div>
            <div class="how_to_request--item">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-2.png" alt="Звонок менеджера">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Звонок менеджера</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>Менеджер свяжется с&nbsp;вами для&nbsp;уточнения необходимых деталей заказа</p>
                </div>
            </div>
            <div class="how_to_request--item">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-2.png" alt="Звонок менеджера">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Согласование итогового макета</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>Согласование итогового заказа с&nbsp;нанесением, подписание документов</p>
                </div>
            </div>
            <div class="how_to_request--item additional">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-2.png" alt="Звонок менеджера">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Оплата</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>После&nbsp;согласования заказа менеджер выставляет счёт на&nbsp;оплату</p>

                    <a href="#" class="how_to_request--item_description--link">Подробнее о способах оплаты</a>
                </div>
            </div>
            <div class="how_to_request--item additional">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-2.png" alt="Звонок менеджера">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Получение заказа</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>Изготавливаем ваш&nbsp;заказ и&nbsp;доставляем удобным для&nbsp;вас&nbsp;способом</p>

                    <a href="#" class="how_to_request--item_description--link">Подробнее о способах доставки</a>
                </div>
            </div>
            <div class="how_to_request--item">
                <div class="how_to_request--item_image-wrapper">
                    <img src="./assets/item-2.png" alt="Звонок менеджера">
                </div>
                <div class="how_to_request--item_title-wrapper">
                    <span>Подписание акта приёма заказа</span>
                </div>
                <div class="how_to_request--item_description-wrapper">
                    <p>Проверяете ваш&nbsp;заказ и&nbsp;подписываете акт&nbsp;приёма заказа</p>
                </div>
            </div>
        </div>
    </div>
</main>

</body>
</html>