<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/owl.carousel.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="fullscreen-slider owl-carousel owl-theme" id="fullscreenSlider">
        <div class="fullscreen-slider--slide">
            <div class="fullscreen-slider--slide_mobile-slide">
                <img src="./assets/mobile-slide1.png" alt="Название слайда 1">
            </div>
            <div class="fullscreen-slider--slide_desktop-slide">
                <img src="./assets/desktop-slide1.png" alt="Название слайда 1">
            </div>

            <div class="fullscreen-slider--slide-data">
                <div class="fullscreen-slider--slide-data--title">
                    <span>Дом, милый дом</span>
                </div>
                <div class="fullscreen-slider--slide-data--description">
                    <p>Аксессуары и элементы декора</p>
                </div>

                <div class="fullscreen-slider--slide-data--action">
                    <a href="#" class="fullscreen-slider--slide-data--action_btn">Подробнее</a>
                </div>
            </div>
        </div>
        <div class="fullscreen-slider--slide">

        </div>
    </div>

    <script src="../../../scripts/jquery.min.js"></script>
    <script src="scripts/owl.carousel.min.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>