<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../styles/template.css">
    <link rel="stylesheet" href="./discounts/styles/styles.css">
    <link rel="stylesheet" href="./promotions/styles/styles.css">
</head>
<body>
<main>
    <style>
        .discounts--item:nth-child(1){
            background-color: #744A9E;
        }
        .discounts--item:nth-child(2){
            background-color: #FBB040;
        }
        .discounts--item:nth-child(3){
            background-color: #57B0EA;
        }
        .discounts--item:nth-child(4){
            background-color: #EF4A85;
        }
    </style>
    <div class="container">
        <div id="discounts" class="discounts">
            <div class="discounts--item">
                <div class="discounts--item_image">
                    <img src="./discounts/assets/item-1.png" alt="Система скидок для рекламных агентов">
                </div>
                <div class="discounts--item_title">
                    <span>Система скидок для&nbsp;рекламных&nbsp;агентов</span>
                </div>
            </div>
            <div class="discounts--item">
                <div class="discounts--item_image">
                    <img src="./discounts/assets/item-2.png" alt="Всем новым клиентам">
                </div>
                <div class="discounts--item_title">
                    <span>Всем новым<br/>клиентам</span>
                </div>
            </div>
            <div class="discounts--item">
                <div class="discounts--item_image">
                    <img src="./discounts/assets/item-3.png" alt="Скидки для конечных покупателей">
                </div>
                <div class="discounts--item_title">
                    <span>Скидки для конечных покупателей</span>
                </div>
            </div>
            <div class="discounts--item">
                <div class="discounts--item_image">
                    <img src="./discounts/assets/item-4.png" alt="На предзаказ YOLIBA скидка 2%">
                </div>
                <div class="discounts--item_title">
                    <span>На предзаказ YOLIBA скидка 2%</span>
                    <p>при предоплате 50%</p>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div id="promotions" class="promotions">
            <a href="#" class="promotion--item">
                <div class="promotion--item--body">
                    <div class="promotion--item_image">
                        <img src="./promotions/assets/promotion-1.png" alt="Дарим подарки за подписку в Telegram!">
                    </div>
                    <div class="promotion--item_title">
                        <span>Дарим подарки за&nbsp;подписку&nbsp;в&nbsp;Telegram!</span>
                    </div>
                </div>
                <div class="promotion--item--action">
                    <div class="promotion--item--action_link">
                        <span>13 марта - 5 апреля</span>
                        <div class="promotion--item--action_link--arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="promotion--item">
                <div class="promotion--item--body">
                    <div class="promotion--item_image">
                        <img src="./promotions/assets/promotion-2.png" alt="При заказе от 100 000 руб – беспроводная водонепроницаемая колонка в подарок!">
                    </div>
                    <div class="promotion--item_title">
                        <span>При&nbsp;заказе&nbsp;от&nbsp;100&nbsp;000&nbsp;руб <wbr/>&nbsp;-беспроводная водонепроницаемая колонка в подарок!</span>
                    </div>
                </div>
                <div class="promotion--item--action">
                    <div class="promotion--item--action_link">
                        <span>Неограничено</span>
                        <div class="promotion--item--action_link--arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#" class="promotion--item">
                <div class="promotion--item--body">
                    <div class="promotion--item_image">
                        <img src="./promotions/assets/promotion-3.png" alt="УФ печать за ноль рублей на аккумуляторах бренда Yoliba!">
                    </div>
                    <div class="promotion--item_title">
                        <span>УФ&nbsp;печать&nbsp;за&nbsp;ноль&nbsp;рублей на&nbsp;аккумуляторах бренда&nbsp;Yoliba!</span>
                    </div>
                </div>
                <div class="promotion--item--action">
                    <div class="promotion--item--action_link">
                        <span>13 марта - 5 апреля</span>
                        <div class="promotion--item--action_link--arrow">
                            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                            </svg>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</main>
</body>
</html>