<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">

    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <main>
        <div class="container">
            <div class="requisites">
                <div class="requisites--title">
                    <span>Наши реквизиты</span>
                </div>
                <div class="requisites--list">
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">Наименование</span>
                        <span>ООО «Эклектика»</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">Почтовые адреса</span>
                        <span>109428, г. Москва, Рязанский проспект, дом 16, строение 3, помещение I, комната 39, этаж 7</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">ИНН участника</span>
                        <span>7704404228</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">КПП участника</span>
                        <span>772101001</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">Банк получателя</span>
                        <span>АО "Альфа-Банк"</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">БИК</span>
                        <span>044525593</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">Корреспондентский счет</span>
                        <span>30101810200000000593</span>
                    </div>
                    <div class="requisites--list-item">
                        <span class="requisites--list-item_name">Расчетный счет</span>
                        <span>40702810202880003884</span>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>