<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/jquery.fancybox.css">

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <main>
        <div class="container">
            <div id="promotions" class="promotions">
                <a href="#" class="promotion--item">
                    <div class="promotion--item--body">
                        <div class="promotion--item_image">
                            <img src="./assets/promotion-1.png" alt="Дарим подарки за подписку в Telegram!">
                        </div>
                        <div class="promotion--item_title">
                            <span>Дарим подарки за&nbsp;подписку&nbsp;в&nbsp;Telegram!</span>
                        </div>
                    </div>
                    <div class="promotion--item--action">
                        <div class="promotion--item--action_link">
                            <span>13 марта - 5 апреля</span>
                            <div class="promotion--item--action_link--arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                    <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="promotion--item">
                    <div class="promotion--item--body">
                        <div class="promotion--item_image">
                            <img src="./assets/promotion-2.png" alt="При заказе от 100 000 руб – беспроводная водонепроницаемая колонка в подарок!">
                        </div>
                        <div class="promotion--item_title">
                            <span>При&nbsp;заказе&nbsp;от&nbsp;100&nbsp;000&nbsp;руб <wbr/>&nbsp;-беспроводная водонепроницаемая колонка в подарок!</span>
                        </div>
                    </div>
                    <div class="promotion--item--action">
                        <div class="promotion--item--action_link">
                            <span>Неограничено</span>
                            <div class="promotion--item--action_link--arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                    <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
                <a href="#" class="promotion--item">
                    <div class="promotion--item--body">
                        <div class="promotion--item_image">
                            <img src="./assets/promotion-3.png" alt="УФ печать за ноль рублей на аккумуляторах бренда Yoliba!">
                        </div>
                        <div class="promotion--item_title">
                            <span>УФ&nbsp;печать&nbsp;за&nbsp;ноль&nbsp;рублей на&nbsp;аккумуляторах бренда&nbsp;Yoliba!</span>
                        </div>
                    </div>
                    <div class="promotion--item--action">
                        <div class="promotion--item--action_link">
                            <span>13 марта - 5 апреля</span>
                            <div class="promotion--item--action_link--arrow">
                                <svg xmlns="http://www.w3.org/2000/svg" width="6" height="10" viewBox="0 0 6 10" fill="none">
                                    <path d="M1.25415 9L4.59961 5L1.25415 1" stroke="#222222" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>

                <div class="promotions-action">
                    <a data-fancybox href="#promotions-action-popup" rel="nofollow" class="promotions-action_open-popup">Показать еще</a>
                </div>
            </div>
        </div>
    </main>

    <div style="display: none;" id="promotions-action-popup">
        <div class="promotions-action-popup-block">
            <div class="promotions-action-popup-image">
                <img src="./assets/okak.png" alt="">
            </div>
            <div class="promotions-action-popup-data">
                <h2>Если вы это видите</h2>
                <p>То мы забыли предоставить информацию разработчику, но скоро всё исправим!</p>
            </div>
        </div>
    </div>

    <script src="../../../scripts/jquery.min.js"></script>
    <script src="../../../scripts/jquery.fancybox.min.js"></script>
</body>
</html>