#header-dropdown-panel-wrapper{

}

#header-dropdown-panel-wrapper .fields-wrapper{
    border-radius: 0px;
    padding: 30px;
}
#header-dropdown-panel-wrapper .fields-wrapper form{

}
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields{
    display: flex;
    flex-direction: column;

    gap: 29px;

    margin-top: 7px;
}
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields .field_wrapper{
    display: flex;
    flex-direction: column;

    height: 58px;
    box-sizing: border-box;
    justify-content: space-between;
}
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields .field_wrapper input[type="text"],
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields .field_wrapper input[type="password"]{
    border: 0;
    outline: none;
    padding: 0;
    margin: 0;

    border-bottom: 1px solid #858585;
}
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields .field_wrapper .form-field-name{
    font-family: "Manrope";
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;

}
#header-dropdown-panel-wrapper .fields-wrapper form .form-fields .field_wrapper .form-field-name>.required-field{
    font-family: "Manrope";
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0;
    color: #EF4A85;

    position: relative;
    top: -3px;
    left: 2px;
}

#header-dropdown-panel-wrapper .fields-wrapper form .form-actions{
    display: flex;
    justify-content: space-between;

    margin-top: 29px;
}

#store_password{

}
#store_password input[type="checkbox"]{
    border-radius: 50%;
    position: relative;
    top: 2px;
    left: 0px;
}
#store_password label{
    font-family: Manrope;
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    color: #858585;

    margin-left: 11px;
}
#forgot-password a{
    font-family: Manrope;
    font-weight: 600;
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 0%;
    text-decoration-skip-ink: auto;
    color: #80E0A7!important;
}
#forgot-password a:hover,
#forgot-password a:focus,
#forgot-password a:active{
    color: #80E0A7!important;
}

#header-dropdown-panel-wrapper .fields-wrapper form .form-actions.btns input[type="submit"]{
    width: 100px;
    height: 39px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    padding-left: 25px;
    background-color: #80E0A7;

    border: 0;
    outline: none;


    font-family: Manrope;
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;
}
#header-dropdown-panel-wrapper .fields-wrapper form .form-actions.btns input[type="submit"]:hover{
    cursor: pointer;
}
#header-dropdown-panel-wrapper .fields-wrapper form .form-actions.btns a.register-btn{
    width: 147px;
    height: 39px;
    padding-top: 10px;
    padding-right: 30px;
    padding-bottom: 10px;
    padding-left: 30px;

    background-color: #744A9E;

    font-family: Manrope;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0;
    color: #FFFFFF;

    display: flex;
    align-items: center;
    justify-content: center;
}
#profile_fields--wrapper .data span{
    font-family: Manrope;
    font-weight: 500!important;
    font-size: 16px!important;
    line-height: 100%!important;
    letter-spacing: 0.29px!important;
    color: #858585!important;
}
#profile_fields--wrapper .widget .widget-item:hover .data span,
#profile_fields--wrapper .widget .widget-item:focus .data span,
#profile_fields--wrapper .widget .widget-item:active .data span{
    color: #222222!important;
}