<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>
    <div class="container">
        <div class="brands-scrollable-block">
            <span class="brands-scrollable-block--title">Бренды</span>

            <div class="brands-scrollable-block--list">
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-1.png" draggable="false" alt="">
                    <img src="./assets/logo-1.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-2.png" draggable="false" alt="">
                    <img src="./assets/logo-2.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-3.png" draggable="false" alt="">
                    <img src="./assets/logo-3.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-4.png" draggable="false" alt="">
                    <img src="./assets/logo-4.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-5.png" draggable="false" alt="">
                    <img src="./assets/logo-5.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-6.png" draggable="false" alt="">
                    <img src="./assets/logo-6.png" class="hover" draggable="false" alt="">
                </div>
                <div class="brands-scrollable-block--item">
                    <img src="./assets/logo-7.png" draggable="false" alt="">
                    <img src="./assets/logo-7.png" class="hover" draggable="false" alt="">
                </div>
            </div>
        </div>
    </div>

    <script src="scripts/script.js"></script>
</body>
</html>