<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="../../../styles/template.css">
    <link rel="stylesheet" href="../slider/styles/owl.carousel.min.css">
    <link rel="stylesheet" href="./styles/styles.css">
</head>
<body>

    <div class="container">
        <style>
            .transition-style-alternative-1:nth-child(1)::before{
                content: "Новинки";
            }
        </style>
        <div class="categories-slider--container-title">
            <span class="title">Категории товаров</span>
        </div>
        <div class="categories-slider owl-carousel owl-theme" id="categoriesSlider">
            <div class="categories-slider--item">
                <a href="#" class="categories-slider--item_category transition-style-alternative-1" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category transition-style-alternative-2" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-2-alt.png" class="alternative" alt="Yoliba">
                        <img src="./assets/category-2.png" alt="Yoliba">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Yoliba</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
            </div>
            <div class="categories-slider--item">
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
            </div>
            <div class="categories-slider--item">
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-2.png" alt="Yoliba">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Yoliba</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
            </div>
            <div class="categories-slider--item">
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
            </div>
            <div class="categories-slider--item">
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-2.png" alt="Yoliba">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Yoliba</span>
                    </div>
                </a>
                <a href="#" class="categories-slider--item_category" style="background-image: url('./assets/category-bg.png')">
                    <div class="categories-slider--item_category-image">
                        <img src="./assets/category-1.png" alt="Новинки">
                    </div>
                    <div class="categories-slider--item_category-title">
                        <span>Новинки</span>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <script src="../../../scripts/jquery.min.js"></script>
    <script src="../slider/scripts/owl.carousel.min.js"></script>
    <script src="scripts/scripts.js"></script>
</body>
</html>