body{
    margin: 0;
}
.container{
    max-width: 100%;
}
@media(min-width: 375px){
    .container{
        max-width: 375px;
        margin: auto;
    }
}
@media(min-width: 576px){
    .container{
        max-width: 576px;
    }
}