body{
    margin: 0;
}
.container{
    max-width: 100%;
}
@media(min-width: 375px){
    .container{
        max-width: 375px;
        margin: auto;
    }
}
@media(min-width: 576px){
    .container{
        max-width: 576px;
    }
}
@media (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (min-width: 991px) {
    .container {
        max-width: 991px;
    }
}
@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}
@media (min-width: 1300px) {
    .container {
        max-width: 1300px;
    }
}
@media (min-width: 1520px) {
    .container {
        max-width: 1480px;
    }
}
@media (min-width: 1920px) {
    .container {
        max-width: 1520px;
    }
}